fastapi<0.110
uvicorn==0.27.1

pydantic>=1.10.0,<2.0.0
python-multipart==0.0.9
requests==2.31.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-dotenv==1.0.1
openai>=1.40.0
httpx>=0.23.0,<0.28.0
gTTS==2.5.4
opencv-python-headless==4.9.0.80
numpy==1.26.4